@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Prueba de proyecto.

<div class="jumbotron">
    <h1>.NET 💜 Azure</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
</div>